{% extends '../base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/personal/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-grid d-flex flex-row">
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item <i class="fa-solid fa-message"></i></p>
    </div>

    <div class="my-grid d-flex flex-column mt-4">
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
        <p class="my-grid-item m-auto"> Item</p>
    </div>

</div>
{% endblock %}